* {
    box-sizing: border-box;
    
    
}
.headerlinks {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
}
.header {
    display: flex;
    background-color: #1f2937;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    flex: 1;
    margin-left: 20px;
    
}
.section1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 50px;
    padding: 50px;
    width: 375px;
    margin-bottom: -50px;
}
.herosec {
    font-size: 18px;
    color: #e5e7eb;
    width: 375px;
    margin-left: 50px;
    padding: 50px; 
    margin-bottom: -40px;
}
.signup {
    background-color: #3882F6;
    color: #f9faf8;
    margin-left: 180px;
    margin-bottom: 50px;
    width: 100px;
    height: 25px;
    border-radius: 12px;
}
.fontimage {
    width: 500px;
    height: 300px;
    margin: 80px;
}
.sec2flex {
    display: flex;
    justify-content: center;
    gap: 100px;

}
.smallfontimage {
    height: 200px;
    width: 250px;
}
.sec2rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 300px;
}
.sec2head {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.section3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb; 
    justify-content: center;
    align-items: center;
    height: 400px;
}
.quote {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.thor {
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}
.sect4flex {
    display: flex;
    padding: 50px;
    background-color: #3882F6;
    margin: 50px 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    border: 4px solid red;
}
.sec4text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
    padding: 20px;
    
}
.cta {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
}
.sec4signup {
    color: #f9faf8;
}
.inversesignup {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 12px;
    border: 2px solid white;
    padding: 20px;
    font-size: medium;
    margin-right: 55px;

}